.container {
	@apply mt-10;
	.title {
		@apply my-10 text-4xl font-bold;
	}

	.wrap {
		@apply p-16 rounded;
		background-color: #f5f6fa;
		.answer_comment_container {
			@apply ml-20 relative;
		}
		.answer_comment_container::before {
			content: '';
			position: absolute;
			top: 0;
			left: -40px;
			width: 2px;
			height: 100%;
			background-color: #e9ebf0;
		}

		.comment__container {
			@apply bg-white rounded-lg p-6 flex mt-5;
			min-height: 167px;

			.vote_container {
				@apply text-lg mr-6;
				background-color: #f5f6fa;
				border-radius: 10px;
				height: 100px;
				width: 40px;
			}

			.comment_contents_container {
				@apply w-full;
				.comment_header_container {
					@apply flex;
					.comment_avatar_img_container {
						@apply w-8 h-8;
						.comment_avatar_img {
							@apply object-contain;
						}
					}
					.comment_name {
						@apply text-lg font-bold ml-4;
						color: #334253;
					}
					.comment_date {
						@apply text-lg ml-4;
						color: #67727e;
					}
					.comment_reply_btn {
						@apply ml-auto flex cursor-pointer;
						&:hover {
							@apply transition ease-in-out delay-150 scale-110 duration-300;
						}
						.comment_reply_btn_text {
							@apply text-lg ml-2 font-bold;
							color: #5357b6;
						}
					}
				}
				.comment_description {
					@apply text-lg mt-4;
					color: #67727e;
				}
			}
		}
	}
}
