.login_container {
	@apply px-4;
}

.login_form_title_wrap {
	@apply mt-5;

	.login_form_title {
		@apply text-4xl h-6 text-black;
	}
	.login_form_subtitle {
		@apply text-4xl text-primary;
	}
}
.login_form_subject {
	@apply text-8xl mt-14 text-black;
}

.login_description {
	@apply font-light text-2xl mt-4;
	color: #545563;
}

.login_email_wrap {
	@apply mt-8 font-light;
	color: #545563;

	> label {
		@apply block text-2xl;
	}
	> input[type='text'] {
		@apply rounded-lg w-full p-2 text-black;
		border: solid 1px #c7c8d2;
	}
}

.login_password_wrap {
	@apply mt-7 font-light;
	color: #545563;

	> label {
		@apply block text-2xl;
	}
	> input[type='text'] {
		@apply rounded-lg w-full p-2 text-black;
		border: solid 1px #c7c8d2;
	}
}

.login_keep_wrap {
	@apply flex mt-7;

	.login_keep_text {
		@apply ml-3 text-2xl font-light text-black;
	}
}

.login_btn_wrap {
	@apply mt-10;
}
